* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.insta-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img {
    height: 90vh;
}

.insta-user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 38rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    min-height: 19rem;
    padding: 1.5rem 0;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
}

.logo-insta {
    height: 4rem;
}

.insta-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 1.5rem 0;
}

.insta-profile img {
    width: 7rem;
}

.continue-accounts {
    background-color: #0095F6;
    outline: none;
    border: 0 solid #000;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    height: auto;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.switch-accounts {
    margin: 1.5rem 0;
}

.switch-accounts a {
    color: #0095F6;
    font-weight: 500;
}

/* LOGIN INSTAGRAM */

.group-login:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    min-height: 19rem;
    padding: 1.5rem 0;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
}
.group-login:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    min-height: 3rem;
    padding: 1.5rem 0;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
}

.group-login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form input {
    width: 20rem;
    height: auto;
    background-color: #FAFAFA;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: none;
    font-size: 12px;
    padding: 10px;
    margin: 0.2rem 0;
}

form .enter {
    width: 20rem;
    background-color: #0095F6;
    outline: none;
    border: 0 solid #000;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    height: auto;
    padding: 0.6rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 1rem;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 110px;
    height: 1px;
    background-color: #dbdbdb;
}

.lines p {
    color: #26262681;
    font-weight: 500;
    padding: 15px;
}

.face {
    outline: none;
    border: 0;
    background-color: #00000000;
    margin: 5px 0;
}

.face i {
    color: #184e94;
}

.face a {
    color: #184e94;
    font-weight: 500;
}

.password {
    margin: 10px 0;
    font-size: 12px;
    color: #262626cb;
}
 .group-login:nth-child(2) a{
     color: #0095F6;
     font-weight: 500;
 }

 .smash {
     margin: 10px 0;
 }

.download-app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-app img {
    height: 40px;
    padding: 0 5px;
}

/* MEDIA QUERIES */

@media (max-width: 1023px) {
    .insta-wrapper {
        width: 90%;
    }

    .insta-phone{
        display: none;
    }
}

@media (max-width: 650px) {
    .insta-phone {
        display: none;
    }

    .insta-wrapper{
        width: 90%;
    }

    .insta-user {
        width: 100%;
    }
}